<!DOCTYPE html>
<html>
  <head>
    <title>Blogdog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="sidebar">
      <div id="logo">
        <%= link_to root_path do %>
        <%= image_tag "blogdog.png" %>
      <% end %>
    </div>

    <ul>
      <li class="category" style="font-size: 12px; text-align: right;">BlogDog</li>
      <li><%= link_to "Top Dogs", root_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>

    <ul>
      <li class="category">Social</li>
      <li><a href="https://www.linkedin.com/in/bikeda/" target="_blank">LinkedIn</a></li>
      <li><a href="https://github.com/xikeda" target="_blank">Github</a></li>
      <li><a href="mailto:brandon.k.ikeda@gmail.com">Email</a></li>
    </ul>
  </div>

  <div id="main_content">
    <div id="header">
      <% if !user_signed_in? %>
      <div class="buttons">
        <button class="button" style="padding-left: 2.5em;"><a href="/users/sign_in">Log in</a></button>
        <button class="button" style="padding-left: 2.5em;"><a href="/users/sign_up">Sign up</a></button>
      </div>
      <% end %>

      <% if user_signed_in? %>
      <div class="buttons">
        <button class="button" style="padding-left: 2.5em;"><%= link_to "Bark", new_post_path %></button>
        <button class="button" style="padding-left: 2.5em;"> <%= link_to('Logout', destroy_user_session_path, method: :delete) %> </button>
      </div>
      <% end %>
    </div>

    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
    <% end %>

    <%= yield %>
  </div>
  </body>
</html>
